/* styling nav bar */
md-nav-bar md-nav-ink-bar {
  background: black;
  color: black;
}

md-nav-bar .md-nav-bar {

}

md-nav-bar .md-button._md-nav-button{
  color: black;
}

md-nav-bar .md-button._md-nav-button.md-unselected{
  color: grey;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
    color: black;
}

.smallInput{
  margin: 0px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
