<md-content layout-padding flex>
    <md-grid-list
        flex
        layout="column"
        md-cols-gt-md="2" md-cols="2" md-cols-md="2"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
      <md-grid-tile
          ng-click="organisationList.goTo('organisation')"
          style="outline:none;"
          flex
          layout="column"
          ng-repeat="organisation in organisationList.organisations | filter: organisationList.searchFilter | limitTo: organisationList.limitTo"
          md-colspan-gt-sm="1"
          md-rowspan-gt-sm="1">
          <organisation-summary organisation="organisation" flex layout="column"></organisation-summary>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</md-content>
