<md-card flex layout="column" style="outline:none;" align="left">
  <md-list flex>
    <md-list-item class="md-2-line">
      <user-avatar class="md-avatar" width="40"></user-avatar>
      <div class="md-list-item-text" layout="column">
        <h3>{{userInfo.user.profile.name}}</h3>
        <p>{{userInfo.user.profile.description.short}}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-1-line">
      <span><md-icon>phone</md-icon> {{userInfo.user.profile.phone}}</span>
    </md-list-item>
    <md-list-item class="md-1-line">
      <span><md-icon>email</md-icon> {{userInfo.user.profile.email}}</span>
    </md-list-item>
    <md-list-item class="md-1-line">
      <span><md-icon>location_on</md-icon> {{userInfo.user.profile.address.vacinity}}</span>
    </md-list-item>
  </md-list>
</md-card>
